* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgb(14, 53, 53);
    color: white;
    padding: 16px 0;
}

form {
    margin-top: 90px;
}

form h2 {
    margin-bottom: 30px;
    color: rgb(14, 53, 53);
}

.list-form {
    margin-bottom: 18px;
}

.list-form label {
    font-weight: bold;
    display: block;
}

.list-form input {
    width: 100%;
    display: block;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

form {
    max-width: 360px;
}

form button {
    width: 360px;
    padding: 8px;
    background-color: rgb(14, 53, 53);
    color: aliceblue;
    font-size: medium;
}









